.section-area2{
 height: 100%;
}

.day1{
    text-align:center;
    font-size: 100px;
    background-image: url("../asset/image/Day1/Day1-bg.jpg");
    background-size: 100%;
    height: 100%;
}

.airplane > img {
    position: relative;
    top: 150px;
}

.airport > img {
    position: relative;
    bottom: 300px;
    left: 80px;
    animation-name: airport;
    animation-duration:2s;
    animation-duration: 1500;
    animation-iteration-count:3;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

.airport > img:hover{
    cursor: pointer;
    filter :brightness(0) invert(1);
}

.airport > img{
  transition: 1s;
}

/* Travle.js */



/*airport 애니메이션*/
@keyframes smooth1 {
    from {
      opacity: 1;
      transform: translateY(-5%);
    }
    to {
      opacity: 0;
      transform: translateY(0);
    }
  }

  @keyframes smooth2 {
    from {
      opacity: 0;
      transform: translateY(-5%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .airport-ani {
    animation: smooth1 1s; 
  }
